<mat-grid-list cols="3" gutterSize="20" rowHeight="100px">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <mat-label>Sort by</mat-label>
            <mat-select>
                <mat-option (click)="sortData()">a-z</mat-option>
                <mat-option (click)="sortDataRevert()">z-a</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="1:2">
    <mat-grid-tile *ngFor="let film of films">
        <app-film-item class="mat-grid-tile" [film]="film"></app-film-item>
    </mat-grid-tile>
</mat-grid-list>
