<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <a href="/film/{{film.id}}"> {{film.name}}</a>
        </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{film.imgUrl}}"
         alt="{{film.name}}">
    <mat-card-content>
        {{film.description.substring(1,100)}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button color="{{film.inFavourites ? 'warn' : ''}}" (click)="addToWishList()">
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
