<a routerLink="/film/:id" routerLinkActive="active">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>{{film.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{film.imgUrl}}"
             alt="{{film.name}}">
        <mat-card-content>
            <details-inner [info]="film.description">
                {{film.description}}
            </details-inner>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Добавить в избранное</button>
        </mat-card-actions>
    </mat-card>
</a>